.card {
  max-width: 26.4rem;
  background-color: var(--white);
}

.card-body {
  padding: 2.4rem 0 4.6rem 2.4rem;
}

.image {
  min-width: 26.4rem;
  height: 18.4rem;
  vertical-align: top;
}

.name {
  color: var(--very-dark-blue);
  font-size: 1.8rem;
  font-weight: 800;
}

.population-wrapper,
.region-wrapper,
.capital-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.population__text,
.region__text,
.capital__text {
  color: var(--very-dark-blue);
  font-size: 1.4rem;
  font-weight: 600;
  margin-right: 0.5rem;
}

.population__number,
.region__number,
.capital__number {
  color: var(--very-dark-blue);
  font-size: 1.4rem;
  font-weight: 300;
}
