.dropdown-wrapper {
  width: 20rem;
  height: 4.8rem;
  cursor: pointer;
}

.filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.arrow {
  width: 1rem;
  height: 1rem;
}
